<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.luhmer.owncloudnewsreader"
    android:installLocation="internalOnly"
    android:versionCode="165"
    android:versionName="0.9.9.62">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <!-- <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NewsReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:label, android:theme, android:name">

        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_notification" />

        <activity
            android:name=".NewsReaderListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Use this intent filter to get voice searches -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->

        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/title_activity_news_detail" />

        <activity android:name=".PiPVideoPlaybackActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:taskAffinity="de.luhmer.owncloudnewsreader.pip"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="false"
            tools:targetApi="n"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings">
        <intent-filter>
            <action android:name="de.luhmer.owncloudnewsreader.ACCOUNT_MANAGER_ENTRY" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:name=".LoginDialogActivity"
            android:label="@string/action_sign_in_short" />
        <activity
            android:name=".NewFeedActivity"
            android:label="@string/title_activity_new_feed"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\atom.xml" />
                <data android:pathPattern=".*\\rss.xml" />
                <data android:pathPattern=".*\\.rss" />
                <data android:pathPattern=".*/feed" />
                <data android:pathPattern=".*feed/*" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".DirectoryChooserActivity" />


        <!--
		**********************************************************************
		* Sync Adapter and Service
		**********************************************************************
        -->

        <service
            android:name=".services.DownloadImagesService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.SyncItemStateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.OwnCloudAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.OwnCloudSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".providers.OwnCloudSyncProvider"
            android:authorities="@string/authority"
            android:label="@string/auto_sync_string"
            android:syncable="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- android:theme="@style/Theme.Transparent" > -->
        <!-- </activity> -->

        <service
            android:name=".services.DownloadWebPageService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":downloadWebPageProcess" />

        <receiver
            android:name=".helper.NotificationActionReceiverDownloadWebPage"
            android:process=":downloadWebPageProcess">
            <intent-filter>
                <action android:name="YES_ACTION" />
                <action android:name="STOP_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".helper.NotificationActionReceiver">
            <intent-filter>
                <action android:name="NOTIFICATION_MARK_ALL_AS_READ" />
            </intent-filter>
        </receiver>

        <!--
        **********************************************************************
        * Widget Provider Receiver
        **********************************************************************
        -->
        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--
        **********************************************************************
        * Podcast
        **********************************************************************
        -->
        <service
            android:name=".services.PodcastPlaybackService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
               <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service> <!-- android:process=":podcastPlaybackService" -->

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PodcastDownloadService"
            android:exported="false" />

        <!--
        **********************************************************************
        * Chrome-Custom Tabs
        **********************************************************************
        -->
        <service
            android:name=".chrometabs.KeepAliveService"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>