name: Android CI

on: [push, pull_request]
jobs:
  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1

  lint:
    name: Run Lint Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3.2.0
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Lint
        run: bash ./gradlew lint

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3.2.0
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Unit tests
        run: bash ./gradlew test --stacktrace

  codeql:
    name: CodeQL security scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: java
      - name: Build debug APK
        run: bash ./gradlew assembleDev
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  apk:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3.2.0
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build debug APK
        run: bash ./gradlew assembleDev --stacktrace
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-dev-debug
          path: News-Android-App/build/outputs/apk/dev/debug/News-Android-App-dev-debug.apk
